repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
        exclude: ^helm-chart/binder-launches/templates/
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: requirements-txt-fixer
-   repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
    -   id: black
# -   repo: https://gitlab.com/pycqa/flake8
#     rev: 3.8.4
#     hooks:
#     -   id: flake8
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v2.4.0
    hooks:
    -   id: reorder-python-imports
